<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586721565558-5ijo7kir9mge2nmvjp6hgv4pnn6231hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586721565558-5ijo7kir9mge2nmvjp6hgv4pnn6231hp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>586721565558-rt5k3ag6nksl7kek00c54nbft0gpigrt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHpG5J2Fcu_m4wBDNSw4s3nhJyNTemJN4</string>
	<key>GCM_SENDER_ID</key>
	<string>586721565558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheffie.app</string>
	<key>PROJECT_ID</key>
	<string>cheffie-cef89</string>
	<key>STORAGE_BUCKET</key>
	<string>cheffie-cef89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586721565558:ios:8bc72cb76f10259761b857</string>
</dict>
</plist>